
.vs/ApplicationTest/v16/.suo
ApplicationTest/obj/Debug/ApplicationTest.csprojAssemblyReference.cache
.vs/ApplicationTest/v16/Server/sqlite3/storage.ide
.vs/ApplicationTest/v16/Server/sqlite3/storage.ide-shm
.vs/ApplicationTest/v16/Server/sqlite3/storage.ide-wal
.vs/ApplicationTest/v16/Server/sqlite3/db.lock
ApplicationTest/obj/Debug/ApplicationTest.csprojAssemblyReference.cache
ApplicationTest/obj/Debug/ApplicationTest.csprojAssemblyReference.cache
*.cache
